@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    color: whitesmoke;
    background:rgb(43, 37, 37)
}
header{

}
nav {
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
    opacity: .8;
    z-index: 2;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}
.logo-img{
  width: 100px;
  height: 50px;
}
.main-nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.account-nav{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

#welcome{
    height: 90vh;
    margin: 0;
    position: relative;
}
.welcome-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.welcome-intro{
  height: 300px;
  width: 300px;
}
.welcome-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Change this line to align items to the left */
  text-align: left; /* Align the text to the left */
  padding-left: 20px; /* Add some padding to the left for better spacing */

}
.welcome-intro h4{
  display: block;
  font-size: large;
  letter-spacing: 5px;
  float: left;
}
.welcome-intro h1{
  font-size: 42px;
  margin-top: 5px;
}
.welcome-intro p{
  font-size: smaller;
}
.welcome-intro button{
  margin-top: 20px;
  padding: 10px;
  color: white;
  border: 1 px solid white;
  background-color: salmon;

}
.welcome-img{
  margin-top: 0px;
  width: 600px;
  height: 500px;
  border-radius: 8px;
}
.welcome-img img{
  
}
img{
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}
.side-social{
  position: absolute;
  right: 0;
  top: 75px;
  width: 10%;
}
.side-social ul{
    list-style: none;
}
.social-nav{
  margin: 0px;
}
.social-item{
  transform: rotate(90deg);
  margin: 0px 0px 100px 0px;
}

@media screen and (max-width: 740px) {

    .nav-menu1 {
      display: none;
    }
  
    .nav-menu2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    #icons {
      font-size: 1.2em;
    }
    
    nav ul li {
      font-size: 0.78em;
      line-height: 2.8em;
      list-style: none;
      letter-spacing: 0.055em;
      cursor: pointer;
      transition: 0.4s ease-in-out;
    }
  
    nav ul li:hover {
      color: white;
      transition: all 0.4s ease-in;
    }
  
  
  }
  
  @media screen and (min-width:741px) {
    .nav-menu1 {
      display: flex;
    }
  
    .nav-menu2 {
      display: none;
    }
  
    .nav-box {
      max-width: 100%;
      margin: 0% 10%;
    }
  
    #icons {
      font-size: 1.2em;
    }
  
    .nav-menu1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }
  
    nav ul li {
      font-size: 0.78em;
      line-height: 2.8em;
      list-style: none;
      letter-spacing: 0.055em;
      cursor: pointer;
      transition: 0.4s ease-in-out;
    }
  
    nav ul li:hover {
      color: white;
      transition: all 0.4s ease-in;
    }

    .img-container{
      height: 100vh;
      width: 100vw;
    }
    .img-container img{
      display: block;
      max-width:100%;
      max-height: 100%;  
      object-fit: contain;
    }
  
  }